@use "../../base/animations";

.pixel-header {
  display: flex;
  justify-content: space-evenly;
  overflow-y: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  * {
    @extend .animate__slide-in;

    &:nth-child(2) {
      @extend .animate__delay-1;
    }

    &:nth-child(3) {
      @extend .animate__delay-2;
    }

    &:nth-child(4) {
      @extend .animate__delay-3;
    }

    &:nth-child(5) {
      @extend .animate__delay-4;
    }
  }
}
