@use "../abstracts/variables";

.pixel-button {
  border: var(--border-width) solid variables.$black;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 1rem variables.$black;
  cursor: pointer;
  margin: calc(var(--outline-width) + var(--margin));
  outline: var(--outline-width) solid variables.$white;
  padding: 1rem 1.5rem;

  &:hover {
    filter: brightness(90%);
  }

  &--primary {
    background-color: var(--primary-colour);
  }

  &--secondary {
    background-color: var(--secondary-colour);
  }
}
