.pixel-button {
  border: var(--border-width) solid var(--pixel-color-black);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 1rem var(--pixel-color-black);
  cursor: pointer;
  margin: calc(var(--outline-width) + var(--margin));
  outline: var(--outline-width) solid var(--pixel-color-white);
  padding: 1rem 1.5rem;

  &:hover {
    filter: brightness(90%);
  }

  &--primary {
    background-color: var(--primary-color);
  }

  &--secondary {
    background-color: var(--secondary-color);
  }
}
