.pixel-navigation {
  left: 0;
  overflow-y: hidden;
  position: absolute;
  right: 0;

  &--bottom {
    bottom: 0;
  }

  &--top {
    top: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
  }
}
