@use "../abstracts/variables";

$arrow-size: 0.03rem;
$border-width: 0.5rem;
$outline-width: 0.3rem;
$arrow-width: $arrow-size + $border-width;
$arrow-border-width: $arrow-size + 0.8rem;
$arrow-outline-width: $arrow-border-width + $outline-width + 0.1rem;

%tooltip-arrow-vertical {
    border-left: $arrow-outline-width solid transparent;
    border-right: $arrow-outline-width solid transparent;

    &::before {
        border-left: $arrow-border-width solid transparent;
        border-right: $arrow-border-width solid transparent;
        content: "";
        position: absolute;
    }

    &::after {
        border-left: $arrow-width solid transparent;
        border-right: $arrow-width solid transparent;
        content: "";
        position: absolute;
    }
}

%tooltip-arrow-bottom {
    border-top: $arrow-outline-width solid variables.$white;
    transform: translateY(100%);

    &::before {
        border-top: $arrow-border-width solid variables.$black;
        transform: translate(-50%, -$arrow-outline-width);
    }

    &::after {
        border-top: $arrow-width solid var(--primary-colour);
        transform: translate(-50%, -$arrow-outline-width - $border-width);
    }

    @extend %tooltip-arrow-vertical;
}

%tooltip-arrow-top {
    border-bottom: $arrow-outline-width solid variables.$white;
    transform: translateY(-100%);

    &::before {
        border-bottom: $arrow-border-width solid variables.$black;
        transform: translate(-50%, $border-width);
    }

    &::after {
        border-bottom: $arrow-width solid var(--primary-colour);
        transform: translate(-50%, $arrow-outline-width);
    }

    @extend %tooltip-arrow-vertical;
}

%tooltip-arrow-horizontal {
    border-bottom: $arrow-outline-width solid transparent;
    border-top: $arrow-outline-width solid transparent;

    &::before {
        border-bottom: $arrow-border-width solid transparent;
        border-top: $arrow-border-width solid transparent;
        content: "";
        position: absolute;
    }

    &::after {
        border-bottom: $arrow-width solid transparent;
        border-top: $arrow-width solid transparent;
        content: "";
        position: absolute;
    }
}

%tooltip-arrow-left {
    border-right: $arrow-outline-width solid variables.$white;
    transform: translateX(-100%);

    &::before {
        border-right: $arrow-border-width solid variables.$black;
        transform: translate($border-width, -50%);
    }

    &::after {
        border-right: $arrow-width solid var(--primary-colour);
        transform: translate($arrow-outline-width, -50%);
    }

    @extend %tooltip-arrow-horizontal;
}

%tooltip-arrow-right {
    border-left: $arrow-outline-width solid variables.$white;
    transform: translateX(100%);

    &::before {
        border-left: $arrow-border-width solid variables.$black;
        transform: translate(-$arrow-outline-width, -50%);
    }

    &::after {
        border-left: $arrow-width solid var(--primary-colour);
        transform: translate(-$arrow-outline-width - $border-width, -50%);
    }

    @extend %tooltip-arrow-horizontal;
}

.pixel-tooltip {
    display: inline-block;
    margin: $arrow-outline-width;
    position: relative;
    
    &__wrapper {
        background-color: var(--primary-colour);
        border: $border-width solid variables.$black;
        border-radius: 0.5rem;
        box-shadow: 0.2rem 0.2rem 1rem variables.$black;
        outline: $outline-width solid variables.$white;
        padding: 1rem 1.5rem;
    }

    &__arrow {
        position: absolute;

        &--top {
            bottom: 0;
            left: calc(50% - $arrow-outline-width);

            @extend %tooltip-arrow-bottom;
        }

        &--top-left {
            bottom: 0;
            right: 0;

            @extend %tooltip-arrow-bottom;
        }

        &--top-right {
            bottom: 0;
            left: 0;

            @extend %tooltip-arrow-bottom;
        }

        &--bottom {
            left: calc(50% - $arrow-outline-width);
            top: 0;

            @extend %tooltip-arrow-top;
        }

        &--bottom-left {
            right: 0;
            top: 0;

            @extend %tooltip-arrow-top;
        }

        &--bottom-right {
            left: 0;
            top: 0;

            @extend %tooltip-arrow-top;
        }

        &--left {
            right: 0;
            top: calc(50% - $arrow-outline-width);

            @extend %tooltip-arrow-right;
        }

        &--right {
            left: 0;
            top: calc(50% - $arrow-outline-width);

            @extend %tooltip-arrow-left;
        }
    }
}