@use "../abstracts/mixins";

$default-theme: (
  primary-color: var(--pixel-color-white),
  primary-text-color: var(--pixel-color-black),
  secondary-color: var(--pixel-color-grey),
  secondary-text-color: var(--pixel-color-black),
  border-width: 0.5rem,
  border-color: var(--pixel-color-black),
  outline-width: 0.3rem,
  outline-color: var(--pixel-color-white),
  margin: 0.5rem,
);

@include mixins.generate-css-variables($default-theme);
