@keyframes slide-in {
  to {
    transform: translateY(0%);
  }
}

%animate-slide-in,
.animate__slide-in {
  transform: translateY(500%);
  animation: slide-in 1s forwards;
}

%animate-delay-1,
.animate__delay-1 {
  animation-delay: 0.2s;
}

%animate-delay-2,
.animate__delay-2 {
  animation-delay: 0.4s;
}

%animate-delay-3,
.animate__delay-3 {
  animation-delay: 0.6s;
}

%animate-delay-4,
.animate__delay-4 {
  animation-delay: 0.8s;
}
