@keyframes slide-in {
  to {
    transform: translateY(0%);
  }
}

.animate {
  &__slide-in {
    transform: translateY(500%);
    animation: slide-in 1s forwards;
  }

  &__delay-1 {
    animation-delay: 0.2s;
  }

  &__delay-2 {
    animation-delay: 0.4s;
  }

  &__delay-3 {
    animation-delay: 0.6s;
  }

  &__delay-4 {
    animation-delay: 0.8s;
  }
}
